body {
	background: url("../Images/map.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	color: white;
	font-family: 'Cinzel', serif;
	text-align: center;
}

header {
	font-size: 72px;
	background: -webkit-linear-gradient(#f9bb34, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: block;
	justify-content: center;
	margin-top: 40px;
}

.row {
	height: 200px;
}

.col-mg-3 {
	width: 200px;
	margin: 5px;
}

main {
	/* position: relative; */
	width: 100%;
	height: 100%;
}

main::before {
	content: '';
	display: block;
	position: absolute;
	margin-left: 140px;
	width: 80%;
	height: 130vh;
	background: url('../Images/back.jpg');
	background-repeat: repeat;
	opacity: 0.5;
	z-index: -1;
}

.brienne {
	background: url("../Images/brienne.jpg");
	background-size: 200px 200px;
	position: center;
	background-repeat: no-repeat;
}

.jaime {
	background: url("../Images/jaime.jpg");
	background-size: 200px 200px;
	position: center;
	background-repeat: no-repeat;
}

.whiteWalker {
	background: url("../Images/whitewalker.jpg");
	background-size: 200px 200px;
	position: center;
	background-repeat: no-repeat;
}

.john {
	background: url("../Images/jonsnow.jpg");
	background-size: 200px 200px;
	position: center;
	background-repeat: no-repeat;
}

.info {
	padding-top: 130px;
}

p {
	font-size: 12px;
}

h2 {
	font-size: 32px;
	background: -webkit-linear-gradient(#fff, #f9bb34);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.names {
	margin-bottom: 5px;
}

.hide {
	display: none;
}